/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.hero {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.hero__img {
  width: 100%;
}

.hero__link {
  font-family: fantasy, cursive;
}

.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task,
.label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.adding-area {
  margin: 1em 0;
}

.adding-area__row {
  display: flex;
}

.current-tasks,
.completed-tasks {
  margin: 0;
  padding: 0;
}

.current-tasks__item,
.completed-tasks__item,
.title {
  list-style: none;
}

.checkbox,
.task,
.btn-add,
.btn-edit,
.btn-delete {
  outline: none;
}

.btn-add,
.btn-edit,
.btn-delete {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn-add:hover,
.btn-edit:hover,
.btn-delete:hover {
  color: #3a3A3a;
}

/* Heading */
.title,
.adding-area__label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task[type="text"]:focus {
  color: #333;
}

/* New Task */
.adding-area__label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}

.adding-area__row .task {
  width: 318px;
}

/* Task list */
.current-tasks__item,
.completed-tasks__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-tasks__item > *,
.completed-tasks__item > * {
  vertical-align: middle;
}

.checkbox[type="checkbox"] {
  margin: 0 10px;
}

.label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.current-tasks__item > .input,
.completed-tasks__item > .input {
  width: 226px;
}

.btn-delete .btn-delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-delete .btn-delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks .label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list .task[type=text] {
  display: none;
}

.list .current-tasks__item_edit-mode .task {
  display: inline-block;
  width: 224px;
}

.current-tasks__item_edit-mode .label {
  display: none;
}

/* Media query */
@media (max-width: 768px) {

  .hero {
    text-align: center;
  }

}